<form id="searchForm" class="form form-inline" role="form" enctype="application/x-www-form-urlencoded" method="POST" action="/interface/modules/custom_modules/oe-module-demo-farm-add-ons">
    <div class="row">
        <div class="form-group">
            <input class="form-control" type="text" value="{{ searchTerm }}" id="searchTerm" name="searchTerm">
        </div>
        <div class="form-group mx-1">
            <input type="submit" class="btn btn-info" value="Search" title="Search" />
        </div>
    </div>
</form>

