
{#    <form id="searchForm" class="form form-inline" role="form"  method="get" action="/interface/modules/custom_modules/oe-module-demo-farm-add-ons/api/search">#}
{#        <div class="row">#}
{#            <div class="form-group">#}
{#                <input class="form-control" type="search" value="" id="searchTerm">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <button type="submit" class="btn btn-info"  title="Search">#}
{#                    Search#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#    </form>#}

<form id="searchForm" class="form form-inline" role="form" onclick="return false;" >
    <div class="row">
        <div class="form-group">
            <input class="form-control" type="search" value="" id="searchTerm">
        </div>
        <div class="form-group">
            <button id=sendSearchForm type="submit" class="btn btn-default"  title="Search">
                <i class="glyphicon glyphicon-search">Search</i>
            </button>
        </div>
    </div>
</form>
